/* 基础样式 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
}

section {
    margin: 20px 0;
}

#cta-buttons {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}

.primary {
    background-color: #007BFF;
    color: white;
}

.secondary {
    background-color: #6C757D;
    color: white;
}

.third{
    background-color: darkcyan;
    color: coral;
}

.third:hover{
    background-color: #4cae4c; /* 深绿色，增强交互反馈 */
    opacity: 0.9;
}

.button:hover {
    opacity: 0.9;
}

/* 用户显示 */
/* 导航栏样式 */
.navbar {
    background-color: #f8f9fa; /* 背景色可以根据你的设计调整 */
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li.user-info {
    float: right;
    margin-right: 20px;
    text-align: right;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.username, .not-logged {
    display: inline-block;
    vertical-align: middle;
    color: #343a40;
    font-weight: bold;
}
