<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基于MxGPT的医学影像分割诊断</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="container">
    <h1>UNet 图像分割诊断</h1>
    <div class="upload-section">
        <label for="fileInput" class="file-label">Upload an Image</label>
        <input type="file" id="fileInput" accept="image/*">
    </div>
    <div class="image-section">
        <div class="image-wrapper no-image" id="inputImageWrapper">
            <img id="inputImage" class="image" src="" alt="Input Image">
        </div>
        <div class="image-wrapper no-image" id="outputImageWrapper">
            <img id="outputImage" class="image" src="" alt="Segmented Image">
        </div>
    </div>
    <button id="segmentButton">开始分割诊断</button>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
